body {
    background: #F3F5F9;
    padding: 10px 0 0 0;
}

.container {
    position: relative;
}

#totalDiv {
    background: #4C5266;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 14px;
    right: 14px;
    padding: 10px 0;
    vertical-align: middle;
}

#logo {
    height: 50px;
    margin: 0;
}

.totalOK {
    background: #fff;
    padding: 6px 10px 3px 10px;
    border-radius: 9px 0 0 9px;
    color: #CD2025;
    text-align: center;
    min-width: 83px;
}

.totalOK p, .totalOver p {
    font-weight: bold;
}

.totalOver {
    background: #CD2025;
    padding: 6px 10px 3px 10px;
    border-radius: 9px 0 0 9px;
    color: #fff;
    text-align: center;
    min-width: 83px;
}

#totalDollars {
    font-size: 24px;
    margin-bottom: 0;
}

.topMargin {
    margin-top: 60px;
}

.rosterSpot {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 0;
}

.bgColor {
    border: 1px solid #E0E3EB;
}

.rosterSpot p {
    color: #262626;
}

.positionWrapper {
    background: #fff;
    border-radius: 0 6px 6px 0;
    min-width: 55px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.positionWrapper p {
    margin-bottom: 0;
    padding: 4px 4px 4px 11px;
}

.adjust {
    display: flex;
    padding-right: 20px;
}

.adjust button {
    background: #fff;
    border-radius: 6px;
    margin: 0 3px;
    min-width: 50px;
}

input {
    border-radius: 6px;
    text-align: center;
    max-width: 130px;
}